header {
  background-color: rgb(237, 237, 237);
  border-bottom: 3px solid rgb(176, 173, 173);
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 44px;
  width: 140px;
  margin-left: 100px;
  font-size: 22px;
  background-color: #03a9f4;
  color: white;
  border: 1px solid #03a9f4;
  border-radius: 10px;
}
